# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pyc

# Django
*.log
*.pot
*.pyc
*.sqlite3
__pycache__/
local_settings.py

# macOS
.DS_Store

# Virtual Environment
venv/
venv*/

# IDE
.idea/

# Editor
*~
*.swp
.vscode/



.secrets.json
secrets.json
