{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{{ form.field_name }} 



{% block title %} Registration Form {% endblock %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3"> 
        <div class="registration-form" style="margin-bottom: 40px;">
            <form method="post" enctype="multipart/form-data" class="registration-form">
                {% csrf_token %}
                {{ error }}
                <h2 class="form-title"> Login Form </h2><br>
                <div class="form-fields">
                   {% for field in form %}
                </div>
                
                <div class="form-group">
                    {{ field.label_tag }}
                    {{ field }}
                </div>
               {% endfor %}
                <button type="submit" style="padding: 10px 20px; background-color: #007bff; color: #fff; border: none; border-radius: 5px; cursor: pointer;">Login</button>
                
            </form>
        </div>
    </div>
</div>
</div>

{% endblock %}
<!-- <a class="btn btn-primary social-button" href="{% url 'social:begin' 'google-oauth2' %}" style="margin-bottom: 10px; display: block;">Login with Google</a> -->