{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{{ form.field_name }} 
{% block content %}

<style>
    /* styles.css */
/* Container */
.container {
    margin: 0 auto;
    padding: 10px;
}

/* Registration Form */
.registration-form {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Form Group */
.form-group {
    margin-bottom: 20px;
}

/* Labels */
label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

/* Inputs and Select */
input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
select:focus {
    outline: none;
    border-color: #007bff;
}

/* Button */
button {
    padding: 15px 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #0056b3;
}

</style>


<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3"> 
        <div class="registration-form" style="margin-bottom: 40px;">
            <h2>Register</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="first_name">First Name</label>
                    {{ form.first_name }}
                </div>
                <div class="form-group">
                    <label for="last_name">Last Name</label>
                    {{ form.last_name }}
                </div>
                <div class="form-group">
                    <label for="username">Username</label>
                    {{ form.username }}
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    {{ form.email }}
                </div>
                <div class="form-group">
                    <label for="phone_number">Phone Number</label>
                    {{ form.phone_number }}
                </div>
                <div class="form-group">
                    <label for="country">Country</label>
                    {{ form.country }}
                </div>
                <div class="form-group">
                    <label for="city">City</label>
                    {{ form.city }}
                </div>
                <div class="form-group">
                    <label for="address">Address</label>
                    {{ form.address }}
                </div>
                <div class="form-group">
                    <label for="id_zip_code">Zip Code</label>
                    {{ form.zip_code }}
                </div>
                <div class="form-group">
                    <label for="date_of_birth">Date Of Birth</label>
                    {{ form.date_of_birth }}
                </div>
                <div class="form-group">
                    <label for="password1">Password</label>
                    {{ form.password1 }}
                </div>
                <div class="form-group">
                    <label for="password2">Confirm Password</label>
                    {{ form.password2 }}
                </div>
                <button type="submit" style="padding: 10px 20px; background-color: #007bff; color: #fff; border: none; border-radius: 5px; cursor: pointer;">Register</button>
            
            </form>
        </div>
    </div>
</div>
</div>




{% endblock %}
