{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
{{ title }}
{% endblock %}

{% block content %}

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-option">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb__text">
                    <h4>Shop</h4>
                    <div class="breadcrumb__links">
                        <a href="{% url 'home' %}">Home</a>
                        <span>Shop</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<section class="shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="shop__sidebar">
                    <div class="shop__sidebar__search">
                        <form id="search-form" method="post" style="display: flex; align-items: center;">
                            {% csrf_token %}
                            <input value="{{ user_input }}" type="text" id="shop_search" name="shop_search" class="form-control" style="width: 300px; margin-right: 10px;" placeholder="Search by shop...">
                            <button type="submit" class="btn btn-primary">Search</button>
                        </form>
                    </div>
                    <div class="shop__sidebar__accordion">
                        <div class="accordion" id="accordionExample">
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                </div>
                                <div id="collapseOne" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__categories">
                                            <ul class="nice-scroll">
                                                {% for category in categories %}
                                                    <li><a href="#">{{ category.name }}</a></li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseTwo">Branding</a>
                                </div>
                                <div id="collapseTwo" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__brand">
                                            <ul>
                                                <li><a href="#">Louis Vuitton</a></li>
                                                <li><a href="#">Chanel</a></li>
                                                <li><a href="#">Hermes</a></li>
                                                <li><a href="#">Gucci</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="filterPrice" class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseThree">Filter Price</a>
                                </div>
                                <div id="collapseThree" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__price">
                                            <ul>
                                                {% for price_range in price_ranges %}
                                                    {% if price_range.end %}
                                                        <li><a href="{% url 'shop' %}?min_price={{ price_range.start }}&max_price={{ price_range.end }}">${{ price_range.start|floatformat:2 }} - ${{ price_range.end|floatformat:2 }}</a></li>
                                                    {% else %}
                                                        <li><a href="{% url 'shop' %}?min_price={{ price_range.start }}">${{ price_range.start|floatformat:2 }}+</a></li>
                                                    {% endif %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>                                                        
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseFour">Size</a>
                                </div>
                                <div id="collapseFour" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__size">
                                            {% for size in sizes %}
                                                <label for="{{ size.name }}">{{ size.name }} <input type="radio" id="{{ size.name }}"></label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseFive">Colors</a>
                                </div>
                                <div id="collapseFive" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__color">
                                            {% for color in colors %}
                                                <label class="{{ color.class }}" for="{{ color.id }}"><input type="radio" id="{{ color.id }}"></label>
                                            {% endfor %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card">
                                <div class="card-heading">
                                    <a data-toggle="collapse" data-target="#collapseSix">Tags</a>
                                </div>
                                <div id="collapseSix" class="collapse show" data-parent="#accordionExample">
                                    <div class="card-body">
                                        <div class="shop__sidebar__tags">
                                            <a href="#">Product</a>
                                            <a href="#">Bags</a>
                                            <a href="#">Shoes</a>
                                            <a href="#">Fashion</a>
                                            <a href="#">Clothing</a>
                                            <a href="#">Hats</a>
                                            <a href="#">Accessories</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-9">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__left">
                                <p>Showing 1–{{ page_obj.end_index }} of {{ page_obj.paginator.count }} results</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="shop__product__option__right">
                                <!-- Buraya istediğiniz ek içeriği ekleyebilirsiniz -->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for product in page_obj %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="product__item sale">
                                <div class="product__item__pic set-bg" data-setbg="{{ product.images.first.image1.url }}">
                                    <a href="{% url 'shop_details' shop_slug=product.slug %}">{{ product.name }}</a>

                                    <ul class="product__hover">
                                        <li><a href="#"><img src="{% static 'img/icon/heart.png' %}" alt=""></a></li>
                                        <form action="{% url 'shopping_cart' %}" method="post" class="add-to-cart-form">
                                            {% csrf_token %}
                                            <input type="hidden" name="product_slug" value="{{ product.slug }}">
                                            <button type="submit" class="add-to-cart-button">
                                                <img src="{% static 'img/icon/cart.png' %}" alt="Add to Cart">
                                            </button>
                                        </form>
                                        <li><a href="#"><img src="{% static 'img/icon/search.png' %}" alt=""></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <h6>{{ product.name }}</h6>
                                    <div class="rating">
                                        {% for _ in "12345" %}
                                            {% if forloop.counter <= product.like %}
                                                <i class="fa fa-star"></i> <!-- Dolu yıldız -->
                                            {% else %}
                                                <i class="fa fa-star-o"></i> <!-- Boş yıldız -->
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    <h5>${{ product.price }}</h5>
                                    <div class="product__color__select">
                                        <label for="pc-4"><input type="radio" id="pc-4"></label>
                                        <label class="active black" for="pc-5"><input type="radio" id="pc-5"></label>
                                        <label class="grey" for="pc-6"><input type="radio" id="pc-6"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- Pagination Links -->
                <div class="row">
                    <nav class="product__pagination">
                        <div class="nav-link">
                            {% if page_obj.has_previous %}
                                <a href="?page=1">&laquo;</a>
                                
                            {% endif %}
                            {% for num in page_obj.paginator.page_range %}
                                {% if page_obj.number == num %}
                                    <a class="active" href="?page={{ num }}">{{ num }}</a>
                                {% else %}
                                    <a href="?page={{ num }}">{{ num }}</a>
                                {% endif %}
                            {% endfor %}
                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">{% trans 'Next' %}</a>
                                <a href="?page={{ page_obj.paginator.num_pages }}"> &raquo;</a>
                            {% endif %}
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
