{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block title %}
    {{ title }}
{% endblock %}

{% block content %}


<section class="shopping-cart spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="shopping__cart__table">
                    <table>
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Quantity</th>
                                <th>Total</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- Buraya sepete eklenen her ürün için bir satır ekleyin -->
                            {% for item in cart_items %}
                            <tr>
                                <td class="product__cart__item">
                                    <div class="product__cart__item__pic">
                                        <img src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                                    </div>
                                    <div class="product__cart__item__text">
                                        <h6>{{ item.product.name }}</h6>
                                        <h5>{{ item.product.price }}</h5>
                                    </div>
                                </td>
                                <td class="quantity__item">
                                    <div class="quantity">
                                        <div class="pro-qty-2">
                                            <input type="number" name="quantity_{{ item.id }}" value="{{ item.quantity }}">
                                        </div>
                                    </div>
                                </td>
                                <td class="cart__price">${{ item.product.price }}</td>
                                <td class="cart__close"><a href="{% url 'remove_from_cart' item.id %}"><i class="fa fa-close"></i></a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn">
                            <a href="{% url 'checkout' %}">Continue Shopping</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="continue__btn update__btn">
                            <button type="submit" form="update_cart_form"><i class="fa fa-spinner"></i> Update cart</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Shopping Cart Section End -->

{% endblock %}
